{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "Chrome >= 41",
          "ie >= 11",
          "last 2 versions"
        ]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ]
}
