{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "> 0.25%",
          "Chrome >= 41",
          "ie >= 11",
        ]
      },
      "modules": false
    }]
  ]
}
